.Game2 {
    text-align: center;
    padding: 20px;
}

.Game2 .Button {
    text-align: center;
    height: 90%;
    width: 100%;
    padding: 7%;
    margin: 4px;

}


.img2 {
    height: 80px;
    width: 150px;

}

#geral {
    background-color: lightgray;
}

.coluna{
    border: 2;
}


